<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
        <property name="connection.connection_string">
          <!-- Configurations for remote publish -->
          Server=9b76da9d-9f39-4ab0-a1f4-a123018851a3.sqlserver.sequelizer.com;
          Database=db9b76da9d9f394ab0a1f4a123018851a3;
          User ID=foesmmqfdtpfsyab;
          Password=wfALdQYqQLeKg5dudhb3EzDxHVmcSRGKT5KyDTADR4b2xdgkQqiK6hF6HdcqDVE8;
        
          <!-- Configurations for local publish -->
          <!--Server=notedaniel\sqlexpress;
          Database=CENTAUROS;
          User ID=sa;
          Password=123456;
        -->
        </property>
        <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
        <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
        <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
        <property name="show_sql">true</property>
        <property name="connection.release_mode">auto</property>
        <property name="adonet.batch_size">500</property>
        <property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>

        <!-- Mapping assemblies -->
        <!-- Can't map it for Fluent NHibernate here; instead, load the mapping assembly in Global.asax.cs.
			If you're still using HBMs, you can use the mapping here or pass the assembly via Global.asax.cs
			as well, just like you can do with the Fluent NHibernate assembly(s). -->

    </session-factory>
</hibernate-configuration>
